body {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}
.container {
  position: relative;
  width: 450px;
  height: 600px;
  z-index: 100;
  touch-action: none;
}

.pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 20ms;
}
